
		<h1>Editando restaurante</h1>
		<%= render :partial=>"titulo" %>
		
		<p style="color:green"><% flash[:notice] %></p>
		<%= error_messages_for :restaurante %>
		
		<% form_for :restaurante, :url=> {:action=> 'update', :id=> @restaurante} do |f|%>
		Nome:<br><%= f.text_field :nome %><br>
		Endere&ccedil;o:<br><%= f.text_field :endereco %><br>
		Especialidade:<br><%= f.text_field :especialidade %><br>
		<%= submit_tag 'Atualizar'%>		
		<% end %>
		
		<%= link_to "Voltar", {:action=> 'index'}%>
