<p>
  <b>Conteudo:</b>
  <%=h @comment.conteudo %>
</p>

<p>
  <b>Comentavel:</b>
  <%=h @comment.comentavel_id %>
</p>

<p>
  <b>Comentavel type:</b>
  <%=h @comment.comentavel_type %>
</p>


<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>