<h1>Listing qualificacoes</h1>

<table>
  <tr>
    <th>Cliente</th>
    <th>Restaurante</th>
    <th>Nota</th>
    <th>Valor gasto</th>
  </tr>

<% @qualificacoes.each do |qualificacao| %>
  <tr>
    <td><%=h qualificacao.cliente.nome %></td>
    <td><%=h qualificacao.restaurante.nome %></td>
    <td><%=h qualificacao.nota %></td>
    <td><%=h valor_formatado(qualificacao.valor_gasto) %></td>
    <td><%= link_to 'Show', qualificacao %></td>
    <td><%= link_to 'Edit', edit_qualificacao_path(qualificacao) %></td>
   
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New qualificacao', new_qualificacao_path %>